<!DOCTYPE html>
<html lang="de" data-theme="auto">
{{template "head"}}
<body>
    <main class="container">
        {{template "nav"}}

        <article>
            <header><strong>Benutzer hinzufügen</strong></header>
            <form role="group" hx-post="/users" hx-target="#user-list" hx-swap="innerHTML">
                <input type="text" name="name" placeholder="Linux-Benutzername" required>
                <button type="submit">Hinzufügen</button>
            </form>
        </article>

        <div id="user-list">
            {{template "user_list.html" .}}
        </div>
    </main>
</body>
</html>
