<!DOCTYPE html>
<html lang="{{.Lang}}">
{{template "head"}}
<body>
<div class="login-wrap">
    <div class="card login">
        <img class="logo" src="/icon.svg" alt="">
        <h1>parentald</h1>
        <p>{{t .Lang "login.welcome"}}</p>
        {{with .Data}}{{with .Error}}<div class="alert">{{.}}</div>{{end}}{{end}}
        <form method="POST" action="/login">
            <label class="field">{{t .Lang "login.username"}}
                <input type="text" name="username" required autofocus autocomplete="username" autocapitalize="off">
            </label>
            <label class="field">{{t .Lang "login.password"}}
                <input type="password" name="password" required autocomplete="current-password">
            </label>
            <button class="btn btn-primary btn-block" type="submit">{{t .Lang "login.submit"}}</button>
        </form>
    </div>
</div>
</body>
</html>
